<section class="missing-pets">
    <div class="container pt-5 pb-5">
        <p class="text-center">En esta sección se encuentran todos los gatos que no encontraron su dueño</p>
        <h2 class="text-center mb-5">Gatos perdidos</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4" id="cardContainer"></div>
    </div>
</section>

<script src="/js/general.js"></script>
<script src="/js/cats.js" type="module"></script>