<section class="slide">
    <div class="container">
        <div class="row pt-5">
            <div class="col col-6 slide-left d-flex justify-content-center align-items-start flex-column">
                <h1>Encuéntrame</h1>
                <h5>Reencuéntrate con tu mascota</h5>
                <a class="btn mt-5 mb-5" href="#infoPets">Ver más</a>
            </div>
            <div class="col col-6 slide-right">
                <img src="/img/slide_image.webp" class="img-fluid" alt="Imagen de un perro y gato">
            </div>
        </div>
    </div>
</section>

<section class="info-pets" id="infoPets">
    <div class="container pt-5 pb-5">
        <div class="row pt-5-pb-5">
            <div class="col-12 col-sm-6 col-md-4 mt-3 mb-3 p-2 d-flex flex-column align-items-center">
                <img src="/img/dog.webp" class="img-fluid" alt="Foto de un perro">
                <div class="info-container mt-3 text-center">
                    <h4>Perros</h4>
                    <p class="p-2">Encontrá tu perro, alguien pudo haberlo visto. Podés publicar a tu perro perdido
                        fácilmente</p>
                    <a href="/publicar-mascota" class="btn small-btn">Publicar</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 mb-3 p-2 d-flex flex-column align-items-center">
                <img src="/img/cat.webp" class="img-fluid" alt="Foto de un gato">
                <div class="info-container mt-3 text-center">
                    <h4>Gatos</h4>
                    <p class="p-2">Los gatos son muy curiosos, es común que salgan en busca de aventuras. Completá su
                        descripción ahora</p>
                    <a href="/publicar-mascota" class="btn small-btn">Completar</a>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-3 mb-3 p-2 d-flex flex-column align-items-center">
                <img src="/img/rabbit.webp" class="img-fluid" alt="Foto de un conejo">
                <div class="info-container mt-3 text-center">
                    <h4>Conejos</h4>
                    <p class="p-2">¿Tenés un conejo? ¿Lo perdiste o se escapó? Podes encontrarlo con la ayuda de la
                        comunidad</p>
                    <a href="/publicar-mascota" class="btn small-btn">Encontrar</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="register-pet">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col col-6 img-container">
                <img src="/img/me_viste.webp" class="img-fluid" alt="Perro sonriente">
            </div>
            <div class="col col-6 register-pet-info">
                <h3 class="mb-4">¿Cómo encontrar tu mascota?</h3>
                <p>Hace una publicación con la información básica de tu mascota, como su nombre, color, raza, sexo, zona
                    donde se perdió y más</p>
                <p>Luego espera a que otros usuarios de Encuéntrame que hayan visto tu mascota te contacten para
                    determinar si es la tuya</p>
                <p>Puede tomar un tiempo, por lo que mientras tanto podes compartir tu post en redes sociales para
                    expandir tu búsqueda</p>
                <p>Si llegas a encontrar a tu mascota compartí tu noticia con los demás usuarios clickeando el botón
                    <b>¡Lo encontré!</b>
                </p>
                <div class="btn-container mt-5">
                    <a href="/publicar-mascota" class="btn">Empezar nueva búsqueda</a>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="missing-pets">
    <div class="container pt-5 pb-5">
        <p class="text-center">Todas las mascotas que no encontraron su dueño</p>
        <h2 class="text-center mb-5">Mascotas perdidas</h2>
        <div class="container" id="cardContainer"></div>
    </div>
</section>


<!-- PET INFO MODAL -->
<div class="modal fade" id="petInfoModal" tabindex="-1" aria-labelledby="petInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info"
                        type="button" role="tab" aria-controls="info" aria-selected="true">Información</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">Contacto</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">

                    <div class="modal-header">
                        <h5 class="modal-title">¿Lo viste?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-6">
                                <img src="/img/grey.webp" id="photoModal" class="img-fluid" alt="Foto de la mascota">
                            </div>
                            <div class="col col-6">
                                <div class="row main">
                                    <h5 id="nameModal"></h5>
                                    <p id="genderModal"></p>
                                </div>
                                <div class="second text-secondary">
                                    <p id="breedModal"></p>
                                    <p id="ageModal"></p>
                                </div>
                                <div class="col info">
                                    <p><b>Color:</b></p>
                                    <p id="colourModal"></p>
                                </div>
                                <div class="col">
                                    <p><b>Características:</b></p>
                                    <p id="featuresModal"></p>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <h5>Datos sobre la pérdida</h5>
                                <div class="info">
                                    <p><b>Se perdió en:</b></p>
                                    <p id="placeModal"></p>
                                </div>
                                <div class="info">
                                    <p><b>Fecha:</b></p>
                                    <p id="dateModal"></p>
                                </div>
                                <div class="info">
                                    <p><b>Horario:</b></p>
                                    <p id="hourModal"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="modal-header">
                        <h5 class="modal-title mt-2">Datos de contacto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body contact-body">
                        <div class="row contact-text">
                            <div class="col-12">
                                <p><b>Nombre:</b></p>
                                <p id="userNameModal"></p>
                            </div>
                            <div class="col-12">
                                <p><b>Correo:</b></p>
                                <p id="emailModal"></p>
                            </div>
                            <div class="col-12">
                                <p><b>Teléfono:</b></p>
                                <p id="numberModal"></p>
                            </div>
                        </div>

                        <div class="send-message-container my-2 mt-5">
                            <h5>Envíale un mensaje</h5>
                            <form id="sendMessage" class="mt-3">
                                <div id="textareaGroup">
                                    <label for="message" class="form-label">Mensaje</label>
                                    <div class="inputGroup">
                                        <textarea class="form-control" rows="3" id="textarea" name="textarea"
                                            placeholder="Escribe tu mensaje para el dueño aquí"></textarea>
                                             <i class="stateValidation fas fa-times-circle"></i>
                                    </div>
                                    <p class="inputError mt-1"><b>* </b>Incluir una descripción de hasta 1.000 caracteres</p>
                                </div>
                                <p class="formErrors inputError mt-1"><b>* </b>Debes iniciar sesión antes de enviar un mensaje</p>
                                <div class="d-flex justify-content-end mt-3">
                                    <button type="submit" class="btn small-btn">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="toastContainer"></div>

<script src="/js/general.js"></script>
<script src="/js/main.js" type="module"></script>