:root {
  --pink: #ff8b7b;
  --pink-hover: #ff7967;
  --light-pink: #fef7ed;
  --bg-blue: #213fad;
  --text-blue: #3a54b4;
  --light: #f8f9fd;
}

body {
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: var(--light-pink);
  padding: 0.5rem;
}
header nav .navbar-brand {
  color: var(--text-blue);
  font-weight: 700;
  font-size: 1.5rem;
}
header nav .navbar-brand img {
  margin-right: 1rem;
}
header .collapse .navbar-nav .nav-item a {
  color: var(--text-blue);
  font-weight: 300;
  cursor: pointer;
}
header .collapse .navbar-nav .nav-item a:hover, header .collapse .navbar-nav .nav-item a.active {
  color: var(--pink);
}
header .collapse .navbar-nav .nav-item a#logout,
header .collapse .navbar-nav .nav-item a#log {
  display: none;
}
header .collapse .navbar-nav .nav-item i {
  margin-right: 0.5rem;
}

.btn {
  background: #3A54B4;
  color: white;
  border: 0;
  line-height: 0;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 30px;
  padding: 27px 44px;
  transition: color 0.4s linear;
}
.btn:hover {
  background: #213fad;
  color: white;
}

.btn.small-btn {
  background: transparent;
  color: var(--bg-blue);
  border: 1px solid var(--bg-blue);
  line-height: 0;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 30px;
  padding: 1rem 1rem;
  transition: color 0.4s linear;
}
.btn.small-btn:hover {
  background: var(--bg-blue);
  color: white;
}

.btn.medium-btn {
  background: --bg-blue;
  color: white;
  line-height: 0;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 30px;
  padding: 1.4rem 2rem;
  transition: color 0.4s linear;
}
.btn.medium-btn:hover {
  background: transparent;
  color: var(--bg-blue);
  border: 1px solid var(--bg-blue);
}

.hide {
  display: none;
}

.modal {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.modal .modal-content {
  background-color: var(--light-pink);
  padding: 1rem;
}
.modal .modal-content .modal-header {
  border-bottom: none;
}
.modal .modal-content .modal-body {
  margin-top: -1.5rem;
}
.modal .modal-content .modal-body .nav .nav-link.active {
  color: var(--pink);
  font-weight: bold;
  background-color: #fff;
  outline: none;
}
.modal .modal-content .modal-body .nav .nav-link.focus {
  outline: none;
}
.modal .modal-content .modal-body form .form-group input {
  border: none;
  display: block;
}
.modal .modal-content .modal-body form .form-group .form-check label {
  color: gray;
  margin-left: 0.5rem;
}
.modal .modal-content .modal-body form .main-btn button {
  padding: 24px 36px;
  background-color: var(--pink);
}
.modal .modal-content .modal-body form .main-btn button:hover {
  background-color: var(--pink-hover);
}
.modal .modal-content .modal-body form .secondary-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-content .modal-body form .secondary-btn button {
  padding: 15px 50px;
  border-radius: 8px;
  min-width: 21rem;
  font-weight: 300;
}
.modal .modal-content .modal-body form .secondary-btn button img {
  width: 1.3rem;
  margin-right: 1rem;
}
.modal .modal-content .modal-body form .secondary-btn button.google {
  background-color: white;
  color: black;
}
.modal .modal-content .modal-body form .secondary-btn button.facebook {
  background-color: #1877f2;
  color: #ffffff;
}

.toast-wrapper {
  z-index: 5;
}
.toast-wrapper .toast .toast-header img {
  width: 1.5rem;
  margin-right: 0.8rem;
}