.slide {
  height: 89vh;
  background-color: var(--light-pink);
  color: var(--text-blue);
}
.slide .slide-right {
  border-radius: 50%;
}
.slide .slide-right img {
  border-radius: 50%;
}
.slide .slide-left h1 {
  font-weight: 900;
  font-size: 4.5rem;
}
.slide .slide-left h5 {
  font-weight: 400;
  font-size: 1.5rem;
}
.slide .slide-left .btn {
  background: #3A54B4;
  color: white;
  border: 0;
  line-height: 0;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 30px;
  padding: 27px 44px;
  transition: color 0.4s linear;
}
.slide .slide-left .btn:hover {
  background: #213fad;
  color: white;
}

.register-pet .container .row .img-container img {
  width: 90%;
}
.register-pet .container .row .register-pet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pets {
  background-color: var(--light);
}
.pets .card {
  border: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.pets .card .card-img {
  overflow: hidden;
}
.pets .card .card-img img {
  transition: all ease 0.3s;
  cursor: pointer;
}
.pets .card .card-img img:hover {
  transform: scale(1.25);
}
.pets .card .card-body h5 {
  font-weight: 700;
}
.pets .card .card-body .card-text i {
  margin-right: 0.5rem;
}
.pets .card .card-body .card-text .card-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}
.pets .card .card-body .card-text .card-button .btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

#petInfoModal .modal-dialog .modal-content .modal-body {
  padding-top: 2rem;
}
#petInfoModal .modal-dialog .modal-content .modal-body img {
  border-radius: 2rem;
}
#petInfoModal .modal-dialog .modal-content .modal-body .main,
#petInfoModal .modal-dialog .modal-content .modal-body .second,
#petInfoModal .modal-dialog .modal-content .modal-body .info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#petInfoModal .modal-dialog .modal-content .modal-body .main #nameModal,
#petInfoModal .modal-dialog .modal-content .modal-body .second #nameModal,
#petInfoModal .modal-dialog .modal-content .modal-body .info #nameModal {
  color: var(--text-blue);
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 0;
  margin-bottom: 0.5rem;
  padding-right: 0;
  width: auto;
}
#petInfoModal .modal-dialog .modal-content .modal-body .main #genderModal,
#petInfoModal .modal-dialog .modal-content .modal-body .second #genderModal,
#petInfoModal .modal-dialog .modal-content .modal-body .info #genderModal {
  color: var(--text-blue);
  font-size: 1rem;
  padding-left: 0.5rem;
  margin-bottom: 0.3rem;
}
#petInfoModal .modal-dialog .modal-content .modal-body .main #genderModal::before,
#petInfoModal .modal-dialog .modal-content .modal-body .second #genderModal::before,
#petInfoModal .modal-dialog .modal-content .modal-body .info #genderModal::before {
  content: "- ";
}
#petInfoModal .modal-dialog .modal-content .modal-body .second {
  margin-top: -0.7rem;
}
#petInfoModal .modal-dialog .modal-content .modal-body .second #breedModal {
  margin-right: 0.4rem;
}
#petInfoModal .modal-dialog .modal-content .modal-body .info p b {
  margin-right: 0.3rem;
}
#petInfoModal .modal-dialog .modal-content .modal-body #featuresModal {
  margin-top: -1rem;
}