<link rel="stylesheet" href="/css/profile.css">

<section class="pets">
    <div class="container pt-5 pb-5">
        <p class="text-center">Mascotas perdidas</p>
        <h2 class="text-center mb-5">Tus publicaciones</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4" id="cardContainer">

            
        </div>
    </div>
</section>

<script src="js/profile.js"></script>